body{
     margin: 0;
    height: 100vh;
    background-color:aliceblue;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 10px 0 10px;
}
canvas{
    bordersolid 0.2em #fff;
    height90vh;
}

.contenedor {
    overflow: hidden;
    width: 100%;
    margin: auto;
     text-align: center;
}
h1 {
  color:#139038;
    margin-top: auto;
    text-align: center;    
}
